doctype html
html
  head
    title Sign In
    style 
      include ../../public/styles/login.css
    script
      include ../../main.js
  body
  .bodyLogin
    .divImg
        img(class = "imgAcceuille" src="/images/connexionImg.jpg", alt="connexion Image")
    .formBody
    form(action="/login" method="POST")
      .divTitre
          h1 Sign In
      .input-container
        input(type="text" name="email" placeholder="Username or Email" id="username" class = "inputLogin")
      .input-container
        input(type="password" name="password" placeholder="Password" id="password" class = "inputLogin")
        p #{message}
      .remember-forgot
      label
        input(type="checkbox" id="rememberMe")
        label Remember me
          
        a(class = "forgotPassword" href="#") Forgot password?
      p
        button(type="submit" class="sign-in-btn" id="signInBtn") Sign In

      .create-account
        p New here? 
        a(href="#") Create an account
      
