doctype html
html
  head
    title Sign In
    //-script 
    //-  include ../../main.js
  body
    form(action="/login" method="POST")
      h1 Sign In
      .input-container
        input(type="email" name="email" placeholder="Username or Email" id="username" value="email" )
      .input-container
        input(type="password" name="password" placeholder="Password" id="password" value="password")
      .remember-forgot
        label
          input(type="checkbox" id="rememberMe")
          Remember me
        a(href="#") Forgot password?
      button(type="submit" class="sign-in-btn" id="signInBtn") Sign In
      .create-account
        p New here? 
        a(href="#") Create an account