doctype html
html
  head
    title Sign In
  body
    form(action="/login" method="POST")
      h1 Sign In
      .input-container
        input(type="text" placeholder="Username or Email" id="username" class = "inputLogin")
      .input-container
        input(type="password" placeholder="Password" id="password" class = "inputLogin")
      .remember-forgot
        label
          input(type="checkbox" id="rememberMe")
          Remember me
        a(href="#") Forgot password?
      button(type="submit" class="sign-in-btn" id="signInBtn") Sign In
      .create-account
        p New here? 
        a(href="#") Create an account
      .divImg
        img(src="/images/connexionImg.jpg", alt="connexion Image")

