doctype html
html
  head
    title Sign In
    style 
      include ../../public/styles/post.css
  body
  .bodyLogin
    .Navbar
        .divIconMenu 
            img(src="images/iconMenu.png", alt="")

